@{
    ViewBag.Title = "Activity Page";
}
<div id="verify-dashboard">
    <div class="row">
        <table id="varify-dashboard-table" class="table table-striped">
        </table>
        <button id="verify-btn" type="button" class="btn btn-primary">Verify</button>
    </div>  
</div>
